.loading-container {
  width: 15%;
}

.weather-card {
  align-items: center;
  background-color: unset;
  box-shadow: unset;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 52%;

  article p {
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 1rem;
    text-align: justify;
  }

  svg {
    font-size: 15rem;
  }
}

.weather-information {
  align-items: center;
  background-color: $cultured;
  border-radius: 30px;
  box-shadow: 8px 8px 0px 0 #3b320c2e;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  min-height: 32rem;
  padding: 2rem;
  padding-bottom: 3rem;
  width: 80%;
}

.weather-information.loading {
  padding-bottom: unset;
  justify-content: center;
}

.weather-information.initial-load {
  padding-bottom: 15rem;
  justify-content: center;

  article {
    font-size: 2rem;
    text-align: center;
  }

  svg {
    font-size: 10rem;
  }
}

.weather-subdetails {
  background-color: #86c8c8d1;
  border-radius: 30px;
  padding: 0rem 2rem 1rem 2rem;
  text-align: center;
}

.weather-weekly-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.weather-weekly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;

  tr {
    display: flex;
    justify-content: space-between;
  }
}

.weather-city {
  font-size: 2.7rem;
  font-weight: bolder;
  margin-top: 3rem;
}

.weather-today {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  padding: 2rem;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-weight: 100;
  }
}

.weather-today-container {
  align-items: center;
  display: flex;
  padding: 0 2rem;

  img {
    box-shadow: 5px 7px 0px 0 #3b320c2e;
    border-radius: 25px;
    background-color: #86c8c8d1;
  }
}

@media (min-width: 320px) {
  .weather-today-container {
    flex-direction: column;
    margin-bottom: 2rem;

    img {
      margin: unset;
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: 500px) {
  .weather-today-container {
    flex-direction: row;

    img {
      margin-right: 2rem;
      margin-bottom: 2rem;
    }
  }
}
